
body {
  background-color: #212121;
  height: 100%;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  color: #202020;
}

h1{
  color: #eee;
  margin: 40px auto;
  text-align: center;
  font-size: 40px;
}

.container {
  width: 500px;
  height: 500px;
  margin: 90px auto;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
}

.container div {
  width: 6.25%;
  height: 6.25%;
  text-align: center;
}

.container div:hover {
  background: #202020;
}
