*:focus {
    outline: none;
}

body {
  background-color:#ecf0f1;
  height: 100%;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  color: #202020;
}

h1{
  color: #222;
  margin: 40px auto;
  text-align: center;
  font-size: 40px;
}

.container {
  width: 500px;
  height: 500px;
  margin: 30px auto;
  background-color: #ecf0f1;
  display: flex;
  flex-flow: row wrap;
  border: solid 4px #404040;
}


.container div:hover {
    background-color: #444;
    cursor: pointer;
}

.draw {
  background: #444;
}

.user {
  margin: 10px auto;
  width: 90;
  text-align: center;
}

input {
  height: 34px;
  width: 30%;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: none;
  font-size: 20px;
  padding-left: 5px;
  background-color: rgba(255, 0, 0, 0.0);
  color: #222;
}

button {
  border-radius: 4px;
  border-color: transparent;
  background-color: #ecf0f1;
  height: 34px;
  width: 10%;
  font-size: 20px;
  letter-spacing: 1.5px;
  margin-top: -5px;
  padding-left: 5px;
  margin-left: 15px;
  color:#3498db;
}

button:active {
  color: #2980b9;
}
